snippet doctype
    <!DOCTYPE html>
    <html>
    <head>
        <title>${1:index.html}</title>${2}
    </head>
    <body>
    ${3}
    </body>
    </html>
snippet script
    <script type="text/javascript">${1}</script>
snippet scriptsrc
    <script src="${1}" type="text/javascript"></script>
snippet scriptx
    <script type="${1}">${2}</script>
