snippet function
	function(${1}){
		${2}
	};${3}

snippet reactclass
	import React from 'react';

	class ${1} extends React.Component {
		render(){
			return ();
		}
	}

	export default ${2};

snippet imp
options head
	import ${1} from '${2}';

snippet constr
options head
	constructor(props){
		super(props);
		${1}
	}
